---
permalink: /categories
layout: default
title: 归档
---

<div class="container" style="padding-top: 20px;">
    <div class="row">
        <div class="col-md-9">
            {% for category in site.categories %}
            <ul class="list-group">
                <li class="list-group-item" id="{{ category[0] }}"><strong>{{ category[0] }} ({{ category[1].size }})</strong></li>
                {% for post in category[1] %}
                <li class="list-group-item">
                    <span class="badge">{{ post.categories }}</span>
                    <span class="text-muted">{{ post.date | date: "%Y-%m-%d" }}</span>
                    <a href="{{ post.url }}">{{ post.title }}</a>
                </li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
        <div class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item"><strong>分类</strong></li>
                {% for category in site.categories %}
                <li class="list-group-item">
                    <a href="/categories/#{{ category[0] }}">{{ category[0] }}</a>
                    <span class="badge">{{ category[1].size }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<script>
    window.onload = function () {
        // 锚点定位偏移
        $('.col-md-3 .list-group a').click(function () {
            var target = $(this).attr('href');
            $('html, body').animate({
                scrollTop: $(target).offset().top - 70
            }, 500);
            return false;
        });
    }
</script>
