---
layout: default
title: 首页
---

<div class="container" style="padding-top: 20px;">
    <div class="row">
        <div class="col-md-9">
            <ul class="list-group">
                <li class="list-group-item active">所有</li>
                {% for post in paginator.posts %}
                <li class="list-group-item">
                    <span class="badge">{{ post.categories }}</span>
                    <span class="text-muted">{{ post.date | date: "%Y-%m-%d" }}</span>
                    <a href="{{ post.url }}">{{ post.title }}</a>
                </li>
                {% endfor %}
            </ul>
            <ul class="pager">
                {% if paginator.previous_page %}
                <li>
                    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">
                        <span aria-hidden="true">&larr;</span>
                    </a>
                </li>
                {% endif %}
                {% if paginator.next_page %}
                <li>
                    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">
                        <span aria-hidden="true">&rarr;</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
        <div class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item active">分类</li>
                {% for category in site.categories %}
                <li class="list-group-item">
                    <a href="/categories/#{{ category[0] }}">{{ category[0] }}</a>
                    <span class="badge">{{ category[1].size }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
