---
layout: default
---

<div class="page-header">
    <h1>文章<small>（{{ site.posts | size }}）</small></h1>
</div>
<ul class="post-list list-group">
    {% for post in paginator.posts %}
    <li class="list-group-item">
        <a href="{{ post.url }}"><h2>{{ post.slug }}</h2></a>
        <p class="text-muted">{{ post.content | strip_html | truncatewords: 10 }}</p>
        <p class="post-date">Posted by Jason on {{ post.date | date: "%Y-%m-%d" }}</p>
        {% for category in post.categories %}
        <a class="btn btn-default btn-sm" href="/categories/{{ category }}">{{ category }}</a>
        {% endfor %}
    </li>
    {% endfor %}
</ul>
<ul class="pager">
    {% if paginator.previous_page %}
    <li>
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">
            <span aria-hidden="true">&larr;</span>
        </a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li>
        <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">
            <span aria-hidden="true">&rarr;</span>
        </a>
    </li>
    {% endif %}
</ul>