<div class="header">
    <div class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">编程笔记</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li><a href="/"><span class="glyphicon glyphicon-home"></span> 首页</a></li>
                <li><a href="/categories"><span class="glyphicon glyphicon-list"></span> 分类</a></li>
                <li><a href="/tags"><span class="glyphicon glyphicon-tags"></span> 标签</a></li>
                <li><a href="/interview"><span class="glyphicon glyphicon-book"></span> 面试</a></li>
                <li><a href="/about"><span class="glyphicon glyphicon-user"></span> 关于</a></li>
            </ul>
        </div>
    </div>
</div>
