<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{ site.title }}</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> 首页</a></li>
                <li><a href="/categories"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> 归档</a></li>
                <li><a href="/search"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> 搜索</a></li>
                <li class="dropdown">
                    <a href="/note" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-book" aria-hidden="true"></span> 笔记 <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/note">Laravel 入门与实战</a></li>
                    </ul>
                </li>
                <li><a href="#"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> 留言</a></li>
                <li><a href="/about"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> 关于</a></li>
            </ul>
        </div>
    </div>
</nav>