<div class="header">
    <div class="jumbotron">Hello, world!</div>
    <div class="list-group">
        <a class="list-group-item" href="/"><span class="glyphicon glyphicon-home"></span> 首页</a>
        <a class="list-group-item" href="/categories"><span class="glyphicon glyphicon-list"></span> 分类</a>
        <a class="list-group-item" href="/tags"><span class="glyphicon glyphicon-tags"></span> 标签</a>
        <a class="list-group-item" href="/interview"><span class="glyphicon glyphicon-book"></span> 面试</a>
        <a class="list-group-item" href="/about"><span class="glyphicon glyphicon-user"></span> 关于</a>
    </div>
</div>