<div class="sidebar">
    {% if page.layout == 'post' %}
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#post-catalog" aria-controls="post-catalog" role="tab" data-toggle="tab">文章目录</a></li>
        <li role="presentation"><a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">站点概括</a></li>
    </ul>
    {% endif %}
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane {% if page.layout == 'post' %}active{% endif %}" id="post-catalog">
            <div class="post-catalog hidden-sm hidden-xs"></div>
        </div>
        <div role="tabpanel" class="tab-pane {% if page.layout != 'post' %}active{% endif %}" id="overview">
            <div class="overview">
                <div class="thumbnail">
                    <img src="/static/images/avatar.png" alt="avatar" class="avatar">
                </div>
                <div class="caption">
                    <p class="text-info"><a href="/about">Jason</a></p>
                    <p class="text-muted">这人很懒</p>
                    <div class="btn-group">
                        <a href="/" class="btn">
                            <strong>{{ site.posts | size }}</strong>
                            <span>文章</span>
                        </a>
                        <a href="/categories" class="btn">
                            <strong>{{ site.categories | size }}</strong>
                            <span>分类</span>
                        </a>
                        <a href="/tags" class="btn">
                            <strong>{{ site.tags | size }}</strong>
                            <span>标签</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>