body{background-color: #f8f8f8;font-size: 16px;}
pre code{white-space: inherit;}
blockquote{background-color: #f5f5f5;font-size: 14px;}
.hljs{background: 0 0;}
.page-header{margin: 0;}
.page-header h1{font-size: 28px;}

.sidebar{background-color: #fff;border: 1px solid #fff;}
.sidebar .thumbnail{text-align: center;border: none;margin: 0;}
.sidebar .thumbnail .avatar{padding: 20px 20px 0;}
.sidebar .thumbnail .btn-group .btn{color: #999;}
.sidebar .thumbnail .btn-group .btn:active{box-shadow: none}
.sidebar .thumbnail .btn-group .btn strong{display: block;font-size: 18px;}
.content{background-color: #fff;border: 1px solid #fff;padding: 0 20px;}

.post-list .list-group-item{padding: 0 0 20px;border: none;border-bottom: 1px solid #eee;}
.post-list .list-group-item h2{font-size: 24px;}
.post-list .list-group-item .btn-sm{border-radius: 15px;border: 1px solid #eee;color: #666;}
.post-date{font-family: 'Lora', 'Times New Roman', serif;font-style: oblique;color: #999;}

.categories-list{padding: 20px 20px 10px;}
.categories-list li{line-height: 30px;}
.categories-list li a{color: #666;}
.categories-list li span{color: #ccc;}

.tags-list{padding: 40px 20px;}
.tags-list a{text-decoration: underline;margin-right: 10px;}

/* post page */
.post h1{font-weight: 400;font-size: 28px;}
.post h2{font-weight: 700;font-size: 24px;}
.post h3{font-weight: 700;font-size: 20px;}
.post h4{font-weight: 700;font-size: 16px;}
.post h5{font-weight: 700;font-size: 14px;}
.post h6{font-weight: 700;font-size: 12px;}
.post hr{margin-top: 15px;margin-bottom: 15px;}
.post img{max-width: 100%;display: block;margin: 0 auto;}
.post-catalog-title{padding: 10px 0 4px;color: #767676;}
.post-catalog-fixed{position: fixed;top: 0;width: inherit;}
.post-catalog-body{overflow: hidden;font-size: 14px;}
.post-catalog-list{position: relative;}
.post-catalog-list:before{content: "";position: absolute;top: 0;left: 7px;bottom: 0;width: 2px;background-color: #eee;opacity: .5;}
.post-catalog-list .nav li a{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.post-catalog-list .nav li a.active{background-color: #eee;color: #6190e8;}
.post-catalog-list .nav li a:before{content: "";position: absolute;top: 50%;background-color: currentColor;border-radius: 50%;left: 5px;margin-top: -3px;width: 6px;height: 6px;}
.post-catalog-list .nav > li > a{padding: 4px 0 4px 20px;color: #767676;font-weight: 700;}
.post-catalog-list .nav .nav > li > a{padding: 2px 0 2px 35px;font-weight: 400;}
.post-catalog-list .nav .nav > li > a:before{left: 20px;width: 4px;height: 4px;}
.read-progress{position: fixed;top: 0;left: 0;height: 3px;background-color: #6190e8;width: 0;z-index: 2048}

@media screen and (max-width: 768px){
    body{background-color: #fff;}
}