body{padding-top: 54px;background-color: #f8f8f8;}
pre code{white-space: inherit;}
blockquote{background-color: #f5f5f5;font-size: 14px;}
footer{padding: 10px 0;}
.navbar{border-top: 3px solid #999;}
.navbar-default{background-color: #fff;}
.main{margin-top: 15px;}
.hljs{background: 0 0;}
.bg-color{background-color: #fff;border-radius: 4px;padding: 0 20px;border: 1px solid #fff;}
.badge{background-color: #999;}
.list-group-item{border: none;border-bottom: 1px solid #f2f2f2;margin-bottom: 0;}

/* post page */
.post h1{font-weight: 400;font-size: 22px;}
.post h2{font-weight: 700;font-size: 20px;}
.post h3{font-weight: 700;font-size: 18px;}
.post h4{font-weight: 700;font-size: 16px;}
.post h5{font-weight: 700;font-size: 14px;}
.post h6{font-weight: 700;font-size: 12px;}
.post hr{margin-top: 15px;margin-bottom: 15px;}
.post img{max-width: 100%;}
.post .col-md-3{position: sticky;top: 69px;}
.post-sidebar .nav > li > a{padding: 5px 10px;color: #767676;}
.post-sidebar .nav .nav > li > a{padding: 5px 25px;}
