---
permalink: /tags
layout: default
slug: 标签
---

<div class="page-header">
    <h1>{{ page.slug }}<small>（{{ site.tags | size }}）</small></h1>
</div>
<div class="tags-list">
    {% for tag in site.tags %}
    {% if tag[1].size >= 32 %}{% assign style = "font-size: 28px;color: #333;" %}
    {% elsif tag[1].size >= 16 %}{% assign style = "font-size: 24px;color: #666;" %}
    {% elsif tag[1].size >= 8 %}{% assign style = "font-size: 20px;color: #999;" %}
    {% elsif tag[1].size >= 4 %}{% assign style = "font-size: 18px;color: #aaa;" %}
    {% elsif tag[1].size >= 2 %}{% assign style = "font-size: 16px;color: #bbb;" %}
    {% else %}{% assign style = "font-size: 14px;color: #ccc;" %}{% endif %}
    <a href="/tags/{{ tag[0] }}" style="{{ style }}">{{ tag[0] }}</a>
    {% endfor %}
</div>