---
layout: default
---

<div class="read-progress"></div>
<div class="page-header">
    <h1>{{ page.slug }}</h1>
    {% if page.path contains '_post' %}
    <ul class="post-attr list-inline">
        <li>
            <span class="glyphicon glyphicon-time"></span>
            {{ page.date | date: "%Y-%m-%d" }}
        </li>
        <li>
            <span class="glyphicon glyphicon-th-list"></span>
            {% for category in page.categories %}
            <a href="/categories/{{ category }}">{{ category }}</a>
            {% endfor %}
        </li>
        <li>
            <span class="glyphicon glyphicon-tag"></span>
            {% for tag in page.tags %}
            <a href="/tags/{{ tag }}">{{ tag }}</a>
            {% endfor %}
        </li>
    </ul>
    {% endif %}
</div>
<div class="post">
    <div class="post-content">{{ content }}</div>
    <ul class="list-unstyled">
        <li>
            <span class="text-muted">上一篇：</span>
            {% if page.previous.slug %}
            <a href="{{ page.previous.url }}">{{ page.previous.slug }}</a>
            {% else %}
            <span class="text-muted">无</span>
            {% endif %}
        </li>
        <li>
            <span class="text-muted">下一篇：</span>
            {% if page.next.slug %}
            <a href="{{ page.next.url }}">{{ page.next.slug }}</a>
            {% else %}
            <span class="text-muted">无</span>
            {% endif %}
        </li>
    </ul>
    <div id="gitalk-container"></div>
</div>

<script>
    window.onload = function () {
        buildPostCatalog();
        changeCatalogProgress();
        changeReadProgress();

        // 窗口滚动事件
        $(window).scroll(function () {
            changeCatalogProgress();
            changeReadProgress();
        });

        let gitalk = new Gitalk({
            clientID: 'f956cf88a0b80b45cbfa',
            clientSecret: '6ae46fc2497ed4a385194e975db2e12380e096c9',
            repo: 'chenjiacheng.github.io',
            owner: 'chenjiacheng',
            admin: ['Jason'],
            id: location.pathname,
            distractionFreeMode: false,
            createIssueManually: true
        })
        gitalk.render('gitalk-container')
    }

    /**
     * 创建文章目录
     */
    let buildPostCatalog = () => {
        let postContentHeader = $('.post-content h2, .post-content h3');
        let postCatalog = $('.post-catalog');
        if (postContentHeader.length === 0) return;

        // 创建目录列表
        let html = '<div class="post-catalog-body">';
        html += '<div class="post-catalog-list">';
        html += '<ul class="nav">';
        let num = 1;
        postContentHeader.each(function (index, item) {
            if (item.tagName === 'H2') {

                {% if page.path contains '_qa' %}
                // H2标题增加序号
                $(this).text(num++ + '. ' + $(this).text())
                {% endif %}

                if (index !== 0) html += '</ul></li>';
                html += '<li><a href="#' + $(this).attr('id') + '" title="' + $(this).text() + '">' + $(this).text() + '</a><ul class="nav">';
            } else {
                html += '<li><a href="#' + $(this).attr('id') + '" title="' + $(this).text() + '">' + $(this).text() + '</a></li>';
            }
        });
        html += '</ul>';
        html += '</div>';
        html += '</div>';
        postCatalog.html(html);

        // 锚点定位偏移
        $('.post-catalog-list a').click(function () {
            let target = $(this).attr('href');
            $('html, body').animate({
                scrollTop: $(target).offset().top - 20
            }, 200);
        });
    }

    /**
     * 改变目录进度
     */
    let changeCatalogProgress = () => {
        let scrollTop = $(window).scrollTop();
        let postHeader = $('.post-content h2, .post-content h3');
        let postCatalogList = $('.post-catalog-list');
        for (let i = 0, k = postHeader.length; i < k; i++) {
            if (scrollTop >= postHeader.eq(i).offset().top - 75) {
                postCatalogList.find('a').removeClass('active').eq(i).addClass('active');
            }
        }
    }

    /**
     * 改变阅读进度
     */
    let changeReadProgress = () => {
        let readProgress = $('.read-progress');
        let postContent = $('.post-content');
        let postContentHeight = postContent.height() - window.innerHeight;
        if (postContentHeight <= 0) return;
        let readHeight = window.pageYOffset - postContent.offset().top;
        let postProgress = readHeight / postContentHeight * 100;
        if (postProgress >= 100) postProgress = 100;
        readProgress.width(`${postProgress}%`);
    };
</script>
