---
layout: default
---

<div class="container post">
    <h1>{{ page.title }}</h1>
    <span class="text-muted">{{ page.date | date: "%Y-%m-%d" }}</span>
    {% for category in page.categories %}
    <a href="/archives#{{ category }}" class="badge">{{ category }}</a>
    {% endfor %}
    <div class="row">
        <div class="col-md-9">
            <div class="post-content">
                {{ content }}
            </div>
        </div>
        <div class="col-md-3 post-sidebar"></div>
    </div>
</div>

<script>
    window.onload = function () {
        var html = '<ul class="nav">';
        $('.post-content h2, .post-content h3').each(function (index, item) {
            $(this).attr('id', index);

            if (item.tagName === 'H2') {
                if (index !== 0) {
                    html += '</ul></li>';
                }
                html += '<li><a href="#' + index + '">' + $(this).text() + '</a><ul class="nav">';
            } else {
                html += '<li><a href="#' + index + '">' + $(this).text() + '</a></li>';
            }
        });
        html += '</ul>';
        $('.post-sidebar').html(html);

        // 锚点定位偏移
        $('.post-sidebar a').click(function () {
            var target = $(this).attr('href');
            $('html, body').animate({
                scrollTop: $(target).offset().top - 70
            }, 500);
            return false;
        });
    }
</script>
